.kidney-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.kidney-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #fcefff;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #711a49;
}

.upload-section {
  margin-bottom: 20px;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #711a49;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #570e38;
}

.image-preview {
  margin-top: 15px;
}

.image-preview img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.predict-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #23081b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.predict-button:hover {
  background-color: #160514;
}

.loading-message {
  margin-top: 20px;
  font-size: 16px;
  color: #711a49;
}

.error-message {
  margin-top: 20px;
  font-size: 16px;
  color: red;
}

.result-section {
  margin-top: 30px;
  text-align: left;
}

.result-section h3 {
  font-size: 18px;
  color: #711a49;
}

.result-section p {
  font-size: 16px;
}

.highlight {
  font-weight: bold;
  color: green;
}


/* Kidney.css */
.doctor-section {
  margin-top: 20px;
}

.find-doctor-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.find-doctor-button:hover {
  background-color: #007B9F;
}
