/* General Styling */
body {
    margin: 10px 0;
    background: linear-gradient(135deg, #e0f7fa, #eba5dc);
  }
  
  /* About Container */
  .about-container {
    
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Header Section */
  .about-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-header h1 {
    font-size: 2.5rem;
    color: #cc008b;
  }
  
  .about-header p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  /* Team Section */
  .team-section {
    text-align: center;
  }
  
  .team-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #cc008b;
  }
  
  /* Team Cards */
  .team-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .team-card {
    background: #ffe0f3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 250px;
  }
  
  .team-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .team-card h3 {
    font-size: 1.5rem;
    color: #161515;
    margin-bottom: 5px;
  }
  
  .team-card p {
    font-size: 1rem;
    color: #473f3f;
  }

  .team-card:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
  }
  