/* Navbar Card */
.navbar-card {
  background: #b411914e;
  box-shadow: 0 4px 8px rgba(6, 6, 6, 0.1);
  /* display: inline-block; */
  justify-content:end;
  /* align-items: center; */
  padding: 10px 20px;
  /* border-radius: 0; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-links {
  display: flex;
  gap: 5rem;
}

/* Navigation Buttons */
.nav-button {
  background: #740b4c92;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 1rem;
  font-weight: bold;
  /* cursor: none; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: all 0.3s ease;
}

.nav-button:hover {
  background: #fbfbfd; /* Darker blue on hover */
  transform: scale(1.05);
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.nav-button:active {
  transform: scale(0.95);
}


.cursor-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, rgba(63, 198, 236, 0.6), transparent);
  border-radius: 50%;
  pointer-events:fill; /* Prevents interaction issues */
  transform: translate(-50%, -50%);
  transition: transform 0.01s linear; /* Smooth movement */
  z-index: 1000;
}